@font-face {
  font-family: 'Open Sans';
  src: url('./public/fonts/OpenSans-Regular.ttf') format('ttf');
}
body {
  display: block;
  font-family: 'Open Sans';
  font-size: 14px;
  position: relative;
  width: 100vw;
}

/* HEADER */
header {
  background-image: url('./public/images/header-bg-2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  min-height: 500px;
  width: 100%;
  text-align: center;
}

header img {
  display: inline-block;
  margin: 125px auto 0 auto;
  max-width: 738px;
}

/* SECTION PRIMARY */
.primary {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  text-align: center;
  width: 755px;
}

.primary section {
  margin: 0;
  text-align: left;
  width: 380px;
}

.primary section p {
  font-size: 18px;
  line-height: 22px;
}

.primary section p {
  font-size: 18px;
  line-height: 22px;
}

.primary section .title {
  font-weight: 700;
}

.primary aside {
  margin: 0;
  text-align: right;
  width: 375px;
}


/* PARALLAX : Kylo Ren */
#kyloren {
  background-image: url('./public/images/kiloren-2x.jpg');
  height: 500px;
}

.parallax {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  margin: 0 auto;
  width: 100vw;
}


/* SECTION SECONDARY */
.secondary {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto 60px auto;
  text-align: center;
  width: 780px;
}
.secondary em {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 56px auto;
  width: 780px;
}
.secondary section {
  width: 100%;
}
.secondary section img {
  float: left;
  margin: 0 20px 20px 0;
}
.secondary section p {
  font-size: 1em;
  line-height: 24px;
  margin: 0 auto;
  text-align: left;
}
.secondary section p strong { font-style: italic; }

/* PARALLAX : Stormtroopers */
#stormtroopers {
  background-image: url('./public/images/stormtroopers-2x.jpg');
  height: 250px;
}