@font-face {
  font-family: 'Open Sans';
  src: url('./public/fonts/OpenSans-Regular.ttf') format('ttf');
}
body {
  display: block;
  font-family: 'Open Sans';
  font-size: 14px;
  position: relative;
  width: 100vw;
}

/* HEADER */
header {
  background-image: url('./public/images/header-bg-2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  min-height: 500px;
  width: 100%;
  text-align: center;
}

header img {
  display: inline-block;
  margin: 125px auto 0 auto;
  max-width: 738px;
}

/* SECTION PRIMARY */
.primary {
  display: flex;
  margin: 100px auto 106px auto;
  text-align: center;
  width: 755px;
}

.primary section {
  margin: 0;
  text-align: left;
  width: 380px;
}

.primary section p {
  font-size: 18px;
  line-height: 22px;
}

.primary section p {
  font-size: 18px;
  line-height: 22px;
}

.primary section .title {
  font-weight: 700;
}

.primary aside {
  margin: 0;
  text-align: right;
  width: 375px;
}


/* PARALLAX : Kylo Ren */
#kyloren {
  background-image: url('./public/images/kiloren-2x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 60px auto;
  height: 500px;
}

.parallax {
  height: 500px;
  width: 100vw;
}